@charset "UTF-8";
*{
    font-family: Arial, Helvetica, sans-serif;
}

*{
    margin: 0;
}

/*navegação*/

nav{
    background-image: linear-gradient(to right, #BF8415, #D99518, #F2A71B, #F4C264);
    display: flex;
    padding: 10px;
    flex-direction: column;
    align-items: center;
}

nav > a{
    text-decoration: none;
    color: #1f5f86;
    font-size: 25px;
    font-weight: 900;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

nav ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

nav ul li{
    padding: 5px;
    width: 100%;
    text-align: center;
}

nav ul li a{
    text-decoration: none;
    color: white;
}

/*cabeçalho*/

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("../sitewildbuilds/imagens/header.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #ffffff;
    text-align: center;
    padding: 70px;
}

header h1, h3{
    text-align: center;
    padding: 10px;
    background-color: #1f5e86ca;
    margin: auto;
    border-radius: 5px;
}

main{
    background-color: rgb(224, 224, 224);
}

#lista {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#lista ul li{
    padding: 15px;   
}

#lista h2{
    padding: 10px;
}

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #0487D9;
    padding: 10px;
    

}

footer img{
    padding: 5px;
}

footer p{
    text-align: center;

}

footer a{
    text-decoration: none;
    color: whitesmoke;
    
}







@media screen and (min-width:768px){
    /*nav*/
    nav{
        flex-direction: row;
        justify-content: space-around;
        
    }

    nav ul{
        flex-direction: row;
        width: 70%;
    }

    header{
        padding: 170px;
    }
}